Django==4.2.11
# psycopg2==2.9.3
python-decouple==3.8
bleach==3.3.0
django-ajax-datatable==4.5.0

django-filter~=23.2
djangorestframework-gis~=1.0.0
djangorestframework~=3.14.0
sentry-sdk[django]==2.11.0


django-crispy-forms==2.3
crispy-bootstrap5==2024.2