{% load static %}
<!doctype html>
    <html lang="en">
        <head>
            {% block quiz_css %}{% endblock %}
            <link rel="stylesheet" type="text/css" href="{% static 'fontawesome4/css/font-awesome.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/notification_dropdown.css' %}">
        </head>
        <body>
            {% include '_navbar.html' %}
            {% block quiz_body %}{% endblock %}
            <script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
            {% block quiz_js %}{% endblock %}
            
            
            <script src="{% static 'bootstrap4/bootstrap.bundle.min.js' %}"></script>
            <script src="{% static 'js/notifications.js' %}"></script>
        </body>
    </html>