{% extends 'base.html' %}
{% load static %}
{% block title %}{{data.title}} - {% endblock %}
{% block metatitle %}{{data.title}} {{data.university}}{% endblock %}
{% block metadescription %}{{data.title}}, {{data.university}}, {{data.city}}, {{data.country}}{% endblock %}

{% block extracss %}
{% endblock %}

{% block content %}
<!-- <a href="{% url 'bachelorsportal:home' %}" class="btn btn-secondary">Back to List of Colleges</a><br><br> -->
<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary" style="background: #ccc;">    
    <span class="badge bg-dark">{% if data.fulltime %}Full Time{%elif data.parttime%}Part Time{% endif %}</span>
    <span class="badge bg-secondary">{% if data.online %}Online{%elif data.oncampus%}On Campus{% endif %}</span>
    <h1 class="display-6 fst-italic">{{data.title}}</h1>
    <h3 class="mb-0"><img src="{{data.university_logo}}" height="40">{{data.university}}</h3>
    <div class="mb-1 text-body-secondary">{{data.city}}, {{data.country}}</div>
</div>

<div class="row mb-2">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <strong class="d-inline-block mb-2 text-primary-emphasis">Duration</strong>
                <h3 class="mb-0">{{data.duration}} Months</h3>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <strong class="d-inline-block mb-2 text-primary-emphasis">Fees</strong>
                <h3 class="mb-0">{{data.fee_int}} {{data.fee_int_currency}}<small>/year</small></h3>
            </div>
        </div>
    </div>
</div>

<h2>About:</h2>
<p class="lead my-3">{{data.summary|safe}}</p>
<br>

<h2>Academic requirements</h2>
<ol class="list-group list-group-numbered">
    {% if data.ielts %}
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">            
            <h3 class="mb-1"><img src="{% static 'img/Language.svg' %}" alt="IELTS admission requirements" loading="lazy" width="40" height="40">IELTS: <span class="badge bg-secondary">{{data.ielts}}</span></h3>
        </div>
        <small class="text-body-secondary">The International English Language Test System (IELTS) tests your English-language proficiency on a scale of 1 - 9. The score refers to the combined average score of 4 subjects (writing, listening, speaking, and reading).</small>
      </div>
    </li>
    {% endif %}
    {% if data.toefl %}
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">            
              <h3 class="mb-1"><img src="{% static 'img/Language.svg' %}" alt="TOEFL admission requirements" loading="lazy" width="40" height="40">TOEFL: <span class="badge bg-secondary">{{data.toefl}}</span></h3>
          </div>
          <small class="text-body-secondary">The TOEFL iBT® is given online through the internet at designated testing site. The test measures your English-language abilities in an academic setting. The score refers to the total score of 4 subjects (writing, listening, speaking, and reading), each subject has a range of 0 - 30.</small>
        </div>
    </li>
    {% endif %}
</ol>
{% endblock %}


{% block extrajs %}

{% endblock %}



