{% extends 'base.html' %}
{% load static %}
{% load feedtags %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'core:users' %}">Users</a></li>
    </ol>
</nav>
<div class="row">
  <div class="col-md-4">
      <img class="img-thumbnail" src="{{ user_data.email|gravatar_url:200 }}" width="200" height="200" alt="@{{ user_data.email}}">
  </div>
  <div class="col-md-8">
  	<div class="card">
    <table class="table mb-0">
      
      <tbody>
      	<tr><td>Username</td><td>{{user_data.username}}</td></tr>
      	<tr><td>Fullname</td><td>{{user_data.get_full_name}}</td></tr>
      </tbody>
    </table>
	</div>
  </div>
</div>
{% endblock %}
