{% extends 'base.html' %}
{% load humanize %}

{% block content %}
  <p class="lead">Notifications</p>
  {% for notification in notifications %}
  <div class="media">
    <img src="{{ notification.from_user.email|gravatar_url:50 }}" style="width:50px" class="m-2" alt="{{ notification.from_user.username}}">
    <div class="media-body">
      <p class="m-1">{{ notification|safe }}</p>
      <p class="m-1"><small>{{ notification.date|naturaltime }}</small></p>
    </div>
  </div>
  {% empty %}
  <p class="text-center m-1">You have no unread notification</p>
  {% endfor %}
{% endblock %}
  
