{% extends 'base.html' %}

{% block title %}Schools of {{sub_district|title}} {{district|title}}, {{state|title}}{% endblock %}
{% block metadescription %}{{sub_district|title}} {{district|title}}, {{state|title}} India.{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'schools:districts' state %}">{{state|title}}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'schools:sub_districts' state district %}">{{district|title}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{sub_district|title}}</li>
  </ol>
</nav>

 
<!-- <form method="get">
  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <input type="text" class="form-control" value="{{request.GET.name}}" name="name" placeholder="School Name" required>
    </div>
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary">Search school</button>
    </div>
  </div>
</form> 

<hr> -->
<div class="row">
  <div class="col-sm-12 col-md-6">
    {% if request.GET.name %}
    <div class="alert alert-primary">
      <form method="get">
        Filtered by: {{request.GET.name}} 
        <button type="submit" class="btn btn-primary btn-sm">Clear Filter</button>
      </form>
    </div>
    {% endif %}
    
    <div class="card">
      <div class="card-header">
        Schools ({{schools.count}})
      </div>
      <ol class="list-group list-group-numbered list-group-flush">
        {% for school in schools %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">
              <a href="{% url 'schools:school_view' school.udise_code %}{{school.school_name|slugify|truncatechars:60}}">
                <small>{{school.school_name|title}}</small>
              </a>
            </div>
            <small>udise code:
            <span class="badge bg-secondary rounded-pill">{{school.udise_code}}</span></small>
          </div>
          
        </li>
        {% endfor %}
      </ol>

    </div>
  </div>
</div>
{% endblock %}