.indicator {
	background: #3f80ea;
	box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .05);
	border-radius: 50%;
	display: block;
	height: 18px;
	width: 18px;
	padding: 1px;
	position: absolute;
	top: 0;
	right: -8px;
	text-align: center;
	transition: top .1s ease-out;
	font-size: .675rem;
	color: #fff
}
.nav-item:hover .indicator {
	top: -4px
}
.dropdown-toggle::after {
	display: none
}
.dropdown-menu {
	box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .05)
}
.dropdown-menu-lg {
	min-width: 20rem
}
.dropdown .dropdown-menu.show {
	animation-name: dropdownAnimation;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-fill-mode: forwards
}
@keyframes dropdownAnimation {
	0% {
		opacity: 0;
		transform: translateY(-8px)
	}
	to {
		opacity: 1;
		transform: translateY(0)
	}
}
.dropdown-menu-header {
	padding: .75rem;
	text-align: center;
	font-weight: 500;
	border-bottom: 1px solid #dee6ed
}
.dropdown-menu-footer {
	padding: .5rem;
	text-align: center;
	display: block;
	font-size: .75rem
}